<table border=2 align='center' >
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>Date of Birth</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Tax</th>
        
     
     
    </tr>
    <tr *ngFor="let emp of employees">
        <td>{{emp.empId}}</td>
        <td>{{emp.empName}}</td>
        <td>{{emp.dob | date: 'dd-MM-yyy'}}</td>
        <td>{{emp.basicsal | currency:'INR'}}</td>
        <td>{{emp.dob | age}}</td>
        <td>{{emp.basicsal | tax : emp.dob  currency:'INR'}}</td>
        
       
    </tr>
</table>

