<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
    .logo{
       padding-left:28%;
       margin-top:20px;
    }
    html{
     background-size:cover;
           background-image:url(/home/dell/Downloads/bus1.jpeg);
           
           background-attachment:fixed;
    }
    .jhan{
    font-style: fantasy; 
    }
    
    </style>
</head>

  <body>
    <div class="reg" style="background-image: url('../../assets/images/bg2.jpg'); background-position: center;background-size: cover;background-repeat: no-repeat;width: 100%;
    height: 100%;">
     <h1><div style="padding-left:42%;margin-top:10px">
        <table>
        
        <tr>
          <td> <span align="right"><i  class="fa fa-bus"style="font-size:80px;color:red" ><font size=100px><b>&nbsp;|</b></font></i>  <font size=100px><b></b></font>  </span></td>
            <td><font size= 6 background-color= "orange" > <div class="jhan" style="width: 300px;"><br/><br/><b>JHAN TRAVELS</b></div></font><br></td>
             
          </tr>
          </table>
        </div>
     </h1>
    <div class="container-fluid bg">
        <div class="row">
            
            <div class="col-md-4 col-sm-4 col-xs-12"></div> 
            <div class="col-md-4 col-sm-4 col-xs-12">
             
    <form #registerForm="ngForm" class="form-conatiner" style="color:white" (ngSubmit)="registerUser(registerForm.value)" nonvalidate >
        <h1>Registration</h1>


        <div class="form-group" >
            <label for="exampleInputpassname">Enter Passenger Name :</label>
            <input type ="text"  class="form-control" name="passName" ngModel #passName ="ngModel" id="exampleInputpassname" placeholder="Your Name" required minlength="4"  maxlength="20" required >
            <div class="text-danger"  align="left">
            <div *ngIf="passName.invalid && (registerForm.submitted || passName.touched)"> 
            <div *ngIf="passName.touched && passName.errors?.required">Enter Your Name</div>
            </div>
            </div>
        </div>


    <div class="form-group" >
        <label for="exampleInputgender">Enter Gender :</label>
        <input type = "text" class="form-control" name="gender" ngModel  #gender ="ngModel" id="exampleInputgender" placeholder="Gender" required minlength="4"  maxlength="10" required>
        <div class="text-danger"  align="left">
            <div *ngIf="gender.invalid && (registerForm.submitted || gender.touched)"> 
            <div *ngIf="gender.touched && gender.errors?.required">Enter Gender</div>
            </div>
        </div>
    </div>

    <div class="form-group" >
        <label for="exampleInputgender">Enter Age :</label>
        <input type = "number" class="form-control" name="age" ngModel #age="ngModel" id="exampleInputgender" placeholder="Age" required minlength="1"  maxlength="2" required>
        <div class="text-danger"  align="left">
            <div *ngIf="age.invalid && (registerForm.submitted || age.touched)"> 
            <div *ngIf="age.touched && age.errors?.required">Enter your Age</div>
            </div>
        </div>
    </div>



        <div class="form-group"  [class.has-error]="email.invalid && email.touched" align="left">
            <label for="email" class="control-label">Enter Email :</label>
            <input id = "email" required [email]="user.email !== ''" type = "text" class="form-control" name="email" ngModel #email = "ngModel" placeholder ="Email" required minlength="4"  maxlength="40" required>
            <div *ngIf="email.invalid && (registerForm.submitted || email.touched)"> 
            <span class = "help-block" *ngIf="email.touched && email.errors?.required">Email is required</span>
            <span class = "help-block" *ngIf="email.errors?.email && email.touched">Email is invalid</span>ssss
            </div>
        </div>


        <div class="form-group">
            <label for="exampleInputmobile">Enter Mobile Number : </label>
        <input type = "text" class="form-control" name="mobileNo" ngModel #mobileNo = "ngModel" id="exampleInputmobile" placeholder="MobileNo" required minlength="4"  maxlength="10" required>
        <div class="text-danger"  align="left">
            <div *ngIf="mobileNo.invalid && (registerForm.submitted || mobileNo.touched)"> 
            <div *ngIf="mobileNo.touched && mobileNo.errors?.required">Enter valid MobileNo</div>
            </div>
        </div>
        </div>

        <div class="form-group">
            <label for="exampleInputaddress">Enter Address :</label>
        <input type="text" class="form-control" name="address" ngModel #address="ngModel" id="exampleInputaddress" placeholder="Address" required minlength="4"  maxlength="10" required>
        <div class="text-danger"  align="left">
            <div *ngIf="address.invalid && (registerForm.submitted || address.touched)"> 
            <div *ngIf="address.touched && address.errors?.required">Enter your city</div>
            </div>
        </div>
        </div>

        <div class="form-group">
            <label for="exampleInputloginId">Enter LoginId :</label>
        <input type = "text" class="form-control" name="loginId" ngModel #loginId="ngModel" id="exampleInputloginId" placeholder="LoginId" required minlength="4"  maxlength="10" required>
        <div class="text-danger"  align="left">
            <div *ngIf="loginId.invalid && (registerForm.submitted || loginId.touched)"> 
            <div *ngIf="loginId.touched && loginId.errors?.required">Enter LoginId</div>
            </div>
        </div>
    </div>

        
    <div class="form-group">
        <label for="exampleInputPassword1">Enter Password :</label>
        <input type = "password" class="form-control" name="password" ngModel required #password="ngModel" id="exampleInputPassword1" placeholder="Password" pattern = "(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}" required minlength="4"  maxlength="10" required>
        <div class="text-danger"  align="left">
            <div *ngIf="password.invalid && (registerForm.submitted || password.touched)">
                <div *ngIf="password.errors.required">Password is required</div>
              <!-- <div *ngIf="password.errors.pattern">Must contain at least one number and one uppercase and lowercase letter</div>--> 
            </div>
        </div>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password :</label>
           
        <input type = "password" class="form-control" name="confirmPassword" id="exampleInputPassword1" ngModel required #confirmPassword="ngModel" placeholder="Confirm Password" pattern="{{password.value}}" required minlength="4"  maxlength="10" required>
        <div class="text-danger"  align="left">
            <div *ngIf="confirmPassword.invalid && (registerForm.submitted || confirmPassword.touched)">
                <div *ngIf="confirmPassword.errors.required">ConfirmPassword is required</div>
                <div *ngIf="confirmPassword.errors.pattern">Password & confirm password does not match</div>
            </div>
        </div>
        </div>


     <button  (click)= "register()" class="btn" style="color:white;background-color: red">Register</button>

</form>
</div>
<div class="col-md-4 col-sm-4 col-xs-12"></div>
</div>
    
   

</div>
</div>
</body>

</html> 