<div class="container-fluid bg">
    <head> <!--Latest compiled and minified CSS--> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
     </head>
    
        <div class="container-fluid bg" >
            <div class="row">
              <h1 style="color: rgb(8, 8, 8); text-align: center;">JHAN TRAVELS</h1>
              
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                
                 
        <form #loginForm="ngForm" class="form-group" (ngSubmit)=validateUser(loginForm.value) novalidate class="form-conatiner">
            <h1>Please Login !</h1>
            <div class="form-group">
             <div class="input-group">
              <label for="exampleInputloginId">Enter LoginId :</label>
              <input type="text"  class ="form-control" name="loginId" ngModel #loginId= "ngModel" id="exampleInputloginId" required minlength="4" placeholder="login id"><br/>
             </div>
            </div>
            <div class="form-group">
             <div class="input-group">
               
               <label for="exampleInputPassword1">Enter Password :</label>
               <input type="password" class="form-control" name="password" ngModel #password= "ngModel" id="exampleInputPassword1" required minlength="4" placeholder="password"><br/>
             </div>
            </div>
            <button [disabled]="!loginForm.valid" (click)="loginUser()" class="btn" type="submit" >Login</button>
            <p>No Account ? <i><b (click)="Register()">Register Here</b></i></p>
        
    </form>
    
    <div *ngIf="loginForm.touched && loginId.errors?.required">please enter the loginId</div>
    <div *ngIf="loginForm.touched && password.errors?.required">please enter the password</div>
    <div *ngIf="loginForm.touched && loginId.errors?.minlength">please enter 4 chars</div>
    <div *ngIf="loginForm.touched && password.errors?.minlength">please enter 4 chars</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    </div>
    </div> 
    