<div class="container" align="center"><br/>
    <form #registerForm="ngForm" class="form-group" (ngSubmit)="registerUser(registerForm.value)">
     <input type="number"  class ="form-control" name="empId" ngModel  required minlength="4" placeholder="EmpId">
    <input type="text" class ="form-control" name="empName" ngModel required minlength="4" placeholder="EmpName">
     <input type="number" class ="form-control" name="salary" ngModel required minlength="4" placeholder="Salary">
    <input type="text" class ="form-control" name="gender" ngModel  required maxlength="1" placeholder="Gender">
     <input type="date" class ="form-control" name="doj" ngModel  required minlength="4" placeholder="date of joining">
     <input type="text" class ="form-control" name="mobile" ngModel  required minlength="4" placeholder="Mobile">
    <select   name="country" placeholder=" Enter a Country" ngModel  class ="form-control" >
        
        <option *ngFor="let country of countries"value={{country.alpha3Code}} placeholder="Name of the country">{{country.name}}</option>
       
     
        </select>
      <!--  <select   name="department" ngModel class ="form-control" >
        
          <option   *ngFor="let department of departments" value ={{department.deptId}}>{{department.deptName}}</option>
         
          </select>-->
     <input type="text" class ="form-control" name="loginId" ngModel  required minlength="4" placeholder="login Id">
   <input type="password" class ="form-control" name="password" ngModel  required minlength="4" placeholder="Password">
     <br/>
   <button  class="btn btn-info">register</button>
</form>

</div>