<div class="container">
    <br/>
    <div align="center">
        <input type="text" [(ngModel)]="empId" placeholder="Enter Employee Id"><br/>
        <button (click)="getEmpByid()">show Details</button>
    </div>
    <br/>
    <div *ngIf=employee>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
            <tr class="bg-info text-wite">
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Date of Joining</th>
                <th>Experience</th>
                <th>Phone no</th>
                <th>Country</th>

            </tr>
        </thead>

        <tbody>
            <tr>
              <td align="center">{{employee.empId}}</td>
              <td align="center">{{employee.empName | gender: employee.gender :employee.empName}}</td>
              <td align="center">{{employee.salary | currency: 'INR'}}  </td>
              <td align="center">{{employee.gender | uppercase}}</td>
              <td align="center">{{employee.doj | date: 'dd-MM-yyy'}}</td>
              <td align="center">{{employee.doj | experience}}</td>
              <td align="center">{{employee.phno | pno: employee.phno : employee.country}}</td>
              <td align="center">{{employee.country | uppercase}}</td>
    
            </tr>
        </tbody>
    </table>
</div>
</div>